* {
    animation-name: fadein;
    animation-duration: 1.0s;
}
@keyframes fadein {
from {
    opacity: 0;
    transform: translateY(10px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

.name{
    font-size: 46px;
    font-family: serif;
    text-align: center;
}
body{
    margin: 0ex;
}
.home_body{
    background-image: url(home.jpeg);
    background-size:cover;
    position: absolute;
    height:100%;
    width:100%;
}
.first_menu{
    text-align: center;
}
select{
    font-size:20px;
    padding:10px;
    margin-right: 12px;
}
button{
    font-size:20px;
    margin:10px;
}

.select_mobile{
  font-size:16px;
  padding:10px;
  margin-top: 30px;
  margin-right: 12px;
}
.button_mobile{
    font-size:20px;
    margin:10px;
    margin-top: 30px;
}
