* {
    animation-name: fadein;
    animation-duration: 1.4s;
}
@keyframes fadein {
from {
    opacity: 0;
    transform: translateY(20px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

.title {
  font-size: 38px;
  margin-left: auto;
  margin-right: auto;
  max-width: 240px;
  text-align: center;
  font-family: serif;
  border-bottom: double 5px #FFC778;
}

.class {
  font-size: 45px;
  font-family: serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 240px;
  text-align: center;
  margin-bottom: -12px;
  margin-top: -100px;
}

.class::before {
  content: '';
  position: absolute;
  margin-top: 15px;
  margin-left: -10px;
  width: 220px;
  height: 60px;
  background-color: #bbe6;
  z-index: -1;
  filter: blur(9px);
  border-radius: 16px;
}

.back {
  font-size: 20px;
  margin-left: 240px;
}
.forw {
  position: relative;
  font-size: 20px;
  top: -3em;
  left: 72vw;
}

.sub {
  color: #203090;
  text-decoration: none;
  outline: none;
  transition: all 1000ms 0s ease;
}

.sub:hover {
  text-decoration: underline;
}

table {
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  border-collapse: collapse;
  border: solid 2px;
  width: 1000px;
  height: 400px;
}

th,td {
  border: 1px solid;
  padding: 3px;
  text-align: center;
}

.day {
  width: 70px;
}

.row {
  background-color: #d8d8d8;
  border-right: solid 2px;
}

.col {
  font-size: 20px;
  background-color: #d8d8d8;
  border-bottom: solid 2px;
}

.roco {
  border: solid 2px;
}

dialog {
  padding: 15px;
  padding-bottom: 30px;
  border: 0;
  border-radius: 0.3rem;
  box-shadow: 0 0 1em black;
}

dialog p {
  margin-left: 30px;
}

.close {
  font-weight: bold;
  margin-left: 40%;
  padding: 0.5em 0.5em;
  text-decoration: none;
  color: #239d;
  background: #ECECEC;
}
